body {
    text-align: center;
    font-family: Arial;
    background: #111;
    color: white;
}

canvas {
    background: black;
    display: block;
    margin: 10px auto;
    border: 3px solid white;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
